---
- name: Create VIP resource
  ansible.builtin.command: >
    pcs resource create vip ocf:heartbeat:IPaddr2
    ip={{ vip_ip }} cidr_netmask={{ vip_cidr }} nic={{ vip_interface }}
    op monitor interval=10s timeout=20s
  run_once: true

- name: Create Apache resource
  ansible.builtin.command: >
    pcs resource create httpd ocf:heartbeat:apache
    configfile=/etc/httpd/conf/httpd.conf
    statusurl=http://localhost/server-status
    op monitor interval=10s timeout=20s
  run_once: true

- name: Colocate Apache with VIP
  ansible.builtin.command: pcs constraint colocation add httpd with vip INFINITY
  run_once: true

- name: Order VIP then Apache
  ansible.builtin.command: pcs constraint order vip then httpd
  run_once: true

